<div class="container-center">
    <%= form_with(:url => url_for(), method: "get", class: "form-inline") do %>
        <%= select_tag "category", options_for_select(["Programming", "Design", "Copywriting", "DevOps & SysAdmin", "Business, Management, Finance", "Product", "Customer Support", "Sales & Marketing"]), onchange: "this.form.submit();", :include_blank => "Filter by Category", class: "form-control right-margin"%>
    
        <% if user_signed_in? %>
            <%= link_to "Filter by Followers", url_for(:filter => 'followers'), class: "btn btn-primary right-margin" %>
            <%= link_to "Filter by Following", url_for(:filter => 'following'), class: "btn btn-primary right-margin" %>

            <% if !@filter.nil? %>
                <%= link_to "Remove Filters", url_for(), class: "btn btn-danger" %>
            <% end %>
        <% end %>
    <% end %>

    <% @jobs.each do |job| %>
        <div class="card" style="width: 35rem;">
            <div class="card-body">
                <h5 class="card-title"><%= job.author_name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">posted on: <%= job.tweet_date.strftime("%B %e, %Y") %> </h6>
                <p class="card-text"><%= job.text %></p>
                <%= link_to "View on Twitter", job.link, class: "card-link" %>
                <%= link_to 'View Full Tweet', open_tweet_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-'+job.id.to_s(), class: 'card-link'}  %>
                <div id="modal-window-<%= job.id %>" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <%= render 'tweet', job: job %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
