<div class="jumbotron jumbotron-fluid container-center text-center">
    <h1 class="display-4"> Tweets for Jobs </h1>
    <p class="lead">Tweets for Jobs is the first job board entirely built on Twitter. <br> 
                    Find jobs and side work you won't find on any other job board.</p>
        <%= form_with(:url => url_for(), method: "get", class: "form-inline") do %>
        <%= select_tag "category", options_for_select(["Programming", "Design", "Copywriting", "DevOps & SysAdmin", "Business, Management, Finance", "Product", "Customer Support", "Sales & Marketing"]), onchange: "this.form.submit();", :include_blank => "Filter by Category", class: "form-control right-margin"%>
    
        <% if user_signed_in? %>
            <%= link_to "Filter by Followers", url_for(:filter => 'followers'), class: "btn btn-primary right-margin" %>
            <%= link_to "Filter by Following", url_for(:filter => 'following'), class: "btn btn-primary right-margin" %>
            <% if !@filter.nil? || !@category.nil? %>
                <%= link_to "Remove Filters", url_for(), class: "btn btn-danger" %>
            <% end %>
        <% end %>
    <% end %>
</div>
<div class="container-center">


    <% @jobs.each do |job| %>
        <div class="card" style="width: 53rem">
            <div class="card-body">
                <%= image_tag(job.author_profile_picture, class: 'avatar right') %>
                <h5 class="card-title"><%= job.author_name %> (<%= link_to "@#{job.author_username}", "https://twitter.com/#{job.author_username}" %>)</h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= job.tweet_date.strftime("%B %e, %Y") %> </h6>
                <p class="card-text"><%= job.text %></p>
                <%= link_to 'View Full Tweet', open_tweet_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-'+job.id.to_s(), class: 'card-link'}  %>
                <%= link_to "View on Twitter", job.link, class: "card-link", target: :_blank %>
                <span class="badge badge-<%= badge_styling(job.category) %> right"><%= job.category %></span>
                <div id="modal-window-<%= job.id %>" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <%= render 'tweet', job: job %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>