<div class="container-center">
    <% @jobs.each do |job| %>
        <div class="card" style="width: 52rem;">
            <div class="card-body">
                <%= image_tag(job.author_profile_picture, class: 'avatar') %>
                <h5 class="card-title"><%= job.author_name %> (<%= link_to "@#{job.author_username}", "https://twitter.com/#{job.author_username}" %>)</h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= job.tweet_date.strftime("%B %e, %Y") %> </h6>
                <p class="card-text"><%= job.text %></p>
                <%= link_to 'View Full Tweet', open_tweet_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window-'+job.id.to_s(), class: 'card-link'}  %>
                <%= link_to "View on Twitter", job.link, class: "card-link" %>
                <span class="badge badge-<%= badge_styling(job.category) %> right"><%= job.category %></span>
                <div id="modal-window-<%= job.id %>" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <%= render 'tweet', job: job %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>